html {
  box-sizing: border-box;
  font-weight: 500;
  font-size: 10px;
  height: 100%;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  background: fixed linear-gradient( #154355 25%, #d27f2c 50%, #154355 75%);
  font-size: 1.6rem;
  margin: 0px;
  min-height: 100%;
  letter-spacing: -1px;
  color: #ddd;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07); */
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  text-decoration: none;
}
.App {
  background: url(./images/hexa_dark.png);
  min-height: 100vh;
  display: grid;
  grid-template-areas: 
    ". header header header ."
    ". hero hero hero ."
    ". content content content ."
    ". footer footer footer .";
  grid-template-columns: 1fr 3fr 5fr 3fr 1fr;
  grid-template-rows: auto auto 1fr auto;
  /* margin-right: 6rem;
  margin-left: 6rem; */
}
.header__navbar a {
  text-decoration: none;
  color: #eee;
}
.head__contianer {
  grid-area: header;
  background: #1d5d76;
  display: grid;
  grid-template-areas: 
  '. logo . navbar social .';
  padding: 1rem 2rem 1rem 2rem;
  border-bottom: 4px solid #d27f2c;
  box-shadow: .1rem .1rem 1rem #222;
  border-radius: 0 0 2rem 2rem;
  z-index: 1;
}
.logo {
  display: grid;
  align-content: center;
  justify-content: start;
  grid-area: logo;
}
.logo h1 {
  margin: 0;
}
.logo {
  padding: 0;
  text-transform: uppercase;
}
.logo--opacity {
  opacity: .7;
}
.logo__lastname {
  transform: translate(5.5rem, -1.1rem);
}
.logo--light {
  margin-top: 0;
}
.header__navbar {
  display: grid;
  align-content: center;
  justify-content: end;
  grid-area: navbar;
}
.header__navbar li {
  display: inline;
  padding: 0;
  margin: 0 2rem 0 2rem;
}
.social__links {
  display: grid;
  grid-area: social;
  align-content: center;
  justify-content: end;
}
.social a {
  padding: .3rem;
}
.social svg {
  color: #ddd;
  width: 2rem;
  height: 2rem;
}
.social path {
  transform: scale(0.7);
}
.social svg:hover path {
  transition: fill .3s;
  fill: #d27f2c;
}
li.active {
  border-style: solid;
  border-width: .2rem 0 .2rem 0;
  border-color: hsl(30, 65%, 60%);
  border-radius: .5rem;
}
li {
  list-style: none;
  padding: .5rem;
}
.header__navbar li {
  color: #ddd;
  text-decoration: none;
  border-radius: .5rem;
  text-transform: uppercase;
  transition: color .3s;
}
.header__navbar li:hover a {
  transition: color .3s;
  color: hsl(30, 65%, 60%);
}
.hero {
  grid-area: hero;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("./images/code_hero.jpg");
  background-size: 100%;
  transform: translateY(-2rem);
}
.hero--center {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 50vh;
  padding: 0;
  margin: 0;
}
.hero--center p {
  text-transform: lowercase;
  padding: 0;
}
.content {
  background: #154355;
  grid-area: content;
  display: grid;
  margin-top: -2rem;
  margin-bottom: -2rem;
  z-index: 0;
  padding: 3rem;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  align-content: start;
  justify-content: center;
  box-shadow: .1rem .1rem 1rem #222;
  /* overflow: hidden; */
}
.svg--large {
  width: 10rem;
  float: left;
  padding: .5rem;
  transition: opacity 0.3s;
  opacity: 0.3;
  z-index: 0;
}
.card__title {
  background: #ddd;
  padding: 1rem;
  padding-left: 2rem;
  margin: 0;
  text-align: left;
  grid-area: card__header;
  background: hsl(197, 61%, 29%);
  z-index: 1;
  box-shadow: 0 .1rem .2rem #888;
}
.card__title h1 {
  text-shadow: .2rem .2rem .3rem #222;
  margin: 0;
}
.card__body {
  z-index: 1;
  text-indent: 2rem;
  color: hsl(197, 49%, 45%);
  grid-area: card__paragraph;
  padding: 2rem;
}
.card {
  border-radius: 1rem;
  display: grid;
  overflow: hidden;
  grid-template-areas: 
  "card__header" "card__paragraph";
  background: #fff;
  transition: .3s;
  box-shadow: .2rem .2rem 1rem #222;
}
.card:hover {
  transform: translate(-0.2rem, -0.2rem);
  box-shadow: .5rem .5rem 2rem #222;
}
.card:hover .svg--large {
  opacity: 1;
}
footer {
  padding: 2rem;
  grid-area: footer;
  height: 100%;
  grid-row: 4 / -1;
  text-align: center;
  background: #1d5d76;
  border-radius: 2rem 2rem 0 0;
  box-shadow: .1rem .5rem 1rem #222;
  z-index: 1;
}


@media screen and (max-width: 760px) {
  .head__contianer {
    display: block;
    padding: 0;
  }
  .App {
    grid-template-columns: 1fr;
    margin: 0;
  }
  .content {
    grid-template-columns: 1fr;
  }
  .logo {
    justify-content: center;
  }
  .header__navbar {
    justify-content: center;
  }
  .social__links {
    padding-top: 1rem;
    justify-content: center;
  }
  .social path {
    transform: scale(1);
  }
  .social svg {
    width: 3rem;
    height: 3rem;
  }
}