html {
  box-sizing: border-box;
  font-weight: 500;
  font-size: 10px;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  background: hsl(197, 60%, 21%);
  font-size: 1.6rem;
  margin: 0px;
  min-height: 100%;
  letter-spacing: -1px;
  color: #ddd;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07); */
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  text-decoration: none;
}
.App {
  display: grid;
  grid-template-areas: 
    "header header header"
    ". content ."
    "footer footer footer";
}
.header__navbar a {
  text-decoration: none;
  color: #ddd;
}
header {
  grid-area: header;
}
.head__contianer {
  background: #1d5d76;
  color: #ddd;
  display: grid;
  grid-template-areas: ". logo . . navigation .";
  padding: 10px;
  border-bottom: 4px solid #d27f2c;
  box-shadow: 0 .1rem 2rem #222;
}
.logo {
  grid-area: logo;
  padding-left: 10px;
}
.header__navbar {
  display: grid;
  grid-area: navigation;
  align-content: center;
  justify-content: end;
  padding-right: 10px;
}
.header__navbar li {
  display: inline;
}
.link--important {
  padding: 0 .5rem .3rem .5rem;
  border: .2rem solid hsl(30, 65%, 60%);
  transition: bottom 0.2s, box-shadow 0.2s;
  transition-timing-function: ease-in-out;
  border-radius: .5rem;
  text-transform: uppercase;
}
.link--important:hover {
  position: relative;
  bottom: .2rem;
  box-shadow: .2rem .2rem 1rem hsl(197, 61%, 19%);
}
.github {
  padding: 0 1rem 0 3rem;
}
.github svg {
  width: 2.8rem;
  height: 2.8rem;
}
.header__navbar li:not(.link--important):not(.github) {
  text-decoration: none;
  transition: bottom 0.2s, box-shadow 0.2s, border-radius 0.2s;
  bottom: 0;
  padding: 0 1rem .3rem 1rem;
  border-radius: .5rem;
  text-transform: uppercase;
}
.header__navbar li:hover:not(.link--important):not(.github) {
  position: relative;
  bottom: .2rem;
  box-shadow: .2rem .2rem 1rem hsl(197, 61%, 19%);
}
.content {
  display: grid;
  grid-area: content;
  margin: 30px;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(260px, auto));
  align-content: center;
  justify-content: center;
}
/* main:last-child {
  display: grid;
  grid-area: 1 / -1;
} */
.svg--html {
  grid-area: card__logo;
  padding-top: .3rem;
  width: 3.5rem;
}
.svg--css {
  grid-area: card__logo;
  padding-top: .3rem;
  width: 3.5rem;
}
.svg--javascript {
  grid-area: card__logo;
  padding-top: .3rem;
  width: 3.5rem;
}
section abbr, section h1 {
  padding: 0;
  margin: 0;
  text-align: center;
  grid-area: card__header;
  color: hsl(197, 61%, 29%);
}
section p {
  text-indent: 2rem;
  color: hsl(197, 49%, 45%);
  grid-area: card__paragraph;
}
section {
  display: grid;
  grid-template-areas: "card__header card__logo"
  "card__paragraph card__paragraph";
  background: hsl(197, 61%, 91%);
  border: 2px solid #d27f2c;
  padding: 30px;
  box-shadow: .2rem .2rem 1rem #222;
}
footer {
  /* display: grid; */
  /* align-content: center;
  justify-content: center; */
  height: 100px;
  grid-area: footer;
  grid-row: 3 / 4;
  text-align: center;
  background: #1d5d76;
}


@media screen and (max-width: 740px) {
  .head__contianer {
    grid-template-areas: ". logo ."
    ". navigation .";
    padding: 5px;
    border-bottom: 4px solid #d27f2c;
    box-shadow: 0 .1rem 2rem #222;
  }
  .logo {
    display: grid;
    align-content: center;
    justify-content: center;
  }
  .header__navbar {
    justify-content: center;
  }
}