html {
  font-size: 62.5%;
}
body {
  background: hsl(197, 60%, 21%);
  font-size: 1.6rem;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
header {
  background: hsl(197, 60%, 29%);
  color: #ddd;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 10px;
  border-bottom: 4px solid hsl(35, 100%, 55%);
}
header h1 {
  padding-left: 10px;
}
nav {
  display: grid;
  align-content: center;
  justify-content: end;
  padding-right: 10px;
}
nav li {
  display: inline;
}
nav li:last-child a {
  border: 2px solid hsl(35, 100%, 55%);
  border-radius: 1rem;
}
nav a {
  text-decoration: none;
  color: #ddd;
  transition: bottom .2s, box-shadow 0.2s;
  transition-timing-function: ease-in-out;
  bottom: 0;
  padding: 0 .5rem .4rem;
  border-radius: 1rem;
}
nav a:hover {
  position: relative;
  bottom: .2rem;
  box-shadow: .2rem .2rem 1rem hsl(197, 61%, 19%);
}
main {
  display: grid;
  margin: 30px;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  align-content: center;
  justify-content: center;
}
main:last-child {
  display: grid;
  grid-area: 1 / -1;
}
section h1 {
  color: hsl(197, 61%, 29%);
}
section p {
  color: hsl(197, 49%, 45%);
}
section {
  display: grid;
  background: hsl(197, 61%, 91%);
  border: 2px solid hsl(35, 100%, 75%);
  padding: 30px;
  box-shadow: .3rem .3rem .2rem #000;
}